<p>yaelito works!</p>
<dx-button text="Click me" (onClick)="helloWorld()">
</dx-button>
<dx-data-grid #grid id="gridContainer" [dataSource]="products" keyExpr="id" [hoverStateEnabled]="true"
    [allowColumnReordering]="true" [showBorders]="true">
    <dxo-selection mode="single"></dxo-selection>


    <dxi-column dataField="id"></dxi-column>
    <dxi-column dataField="code"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="expiration"></dxi-column>


    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>

<div id="employeeInfo" *ngIf="grid.selectedRowKeys.length">
    <p class="employeeNotes">{{grid.instance.getSelectedRowsData()[0].description}}</p>
</div>